@import '../ask-ai-landing-page/ask-ai-landing-page.component.scss';

.prediction-detail {
  width: 100%;
  .card {
    max-width: 48rem;
    margin: 0 auto;
  }
}

.btn-back{
  background-color: var(--f1-dark-red);
  color: var(--f1-white);
  font-weight: 600;
  border-radius: 0.3rem;
  border: 2px solid var(--f1-white);
  height: 100%;
}

.btn-back:hover{
  background-color: var(--f1-primary-red);
}
