<app-content-container>
  <div class="reset-password">
    <h2>Change Password</h2>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="email" class="col-sm-4 col-form-label">Email</label>
        <div class="col-sm-8">
          <input id="email" type="email" formControlName="email" class="form-control" />
        </div>
        <div *ngIf="resetForm.controls['email'].invalid && (resetForm.controls['email'].touched || resetForm.controls['email'].dirty)" class="alert alert-danger">
          <div *ngIf="resetForm.controls['email'].errors?.['required']">Email is required.</div>
          <div *ngIf="resetForm.controls['email'].errors?.['email']">Invalid email format.</div>
        </div>
      </div>

      <div class="form-group row">
        <label for="resetCode" class="col-sm-4 col-form-label">Reset Code</label>
        <div class="col-sm-8 d-flex gap-2">
          <input id="resetCode" type="text" formControlName="resetCode" class="form-control" />
          <button type="button" class="btn btn-outline-primary" (click)="sendResetCode()" [disabled]="resetForm.controls['email'].invalid">
            Send Code
          </button>
        </div>
        <div *ngIf="resetForm.controls['resetCode'].invalid && (resetForm.controls['resetCode'].touched || resetForm.controls['resetCode'].dirty)" class="alert alert-danger">
          <div *ngIf="resetForm.controls['resetCode'].errors?.['required']">Reset code is required.</div>
        </div>
      </div>

      <div class="form-group row">
        <label for="newPassword" class="col-sm-4 col-form-label">New Password</label>
        <div class="col-sm-8">
          <input id="newPassword" type="password" formControlName="newPassword" class="form-control" />
        </div>
        <div *ngIf="resetForm.controls['newPassword'].invalid && (resetForm.controls['newPassword'].touched || resetForm.controls['newPassword'].dirty)" class="alert alert-danger">
          <div *ngIf="resetForm.controls['newPassword'].errors?.['required']">Password is required.</div>
          <div *ngIf="resetForm.controls['newPassword'].errors?.['invalidPassword']">Password can only contain a-z, A-Z, 0-9, !&#64;#$%^&*?'.</div>
          <div *ngIf="resetForm.controls['newPassword'].errors?.['minlength']">Password is too short (at least 6 characters).</div>
          <div *ngIf="resetForm.controls['newPassword'].errors?.['noUppercase']">Password must have at least one uppercase letter.</div>
          <div *ngIf="resetForm.controls['newPassword'].errors?.['noDigit']">Password must have at least one digit.</div>
          <div *ngIf="resetForm.controls['newPassword'].errors?.['noNonAlphanumeric']">Password must have at least one non-alphanumeric character | in !&#64;#$%^&*?'.</div>
        </div>
      </div>

      <button type="submit" class="btn btn-outline-dark" [disabled]="!resetForm.valid">Change Password</button>
    </form>
    <div *ngIf="serverError" class="alert alert-info mt-3">
      {{ serverError }}
    </div>
  </div>
</app-content-container>
