<nav class="navbar navbar-expand fantasy-navbar">
  <div class="container-fluid px-0 fantasy-nav-content">
    <ul class="navbar-nav flex-row w-100 justify-content-between fantasy-nav-list">
      <li class="nav-item">
        <a class="nav-link" routerLink="/fantasy/status" routerLinkActive="active">Status</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/fantasy/lineup" routerLinkActive="active">Lineup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/fantasy/transfers" routerLinkActive="active">Transfers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/fantasy/leagues" routerLinkActive="active">Leagues</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/fantasy/how-to-play" routerLinkActive="active">How to play</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/fantasy/rules" routerLinkActive="active">Rules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/fantasy/ask-ai" routerLinkActive="active">Ask AI</a>
      </li>
    </ul>
  </div>
</nav>
