:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.create-main-race {
  width: 100%;

  .card {
    max-width: 48rem;
    margin: 0 auto;
  }

  .entry-row {
    border: 1px solid rgba(0,0,0,0.05);
    padding: 0.7rem;
    border-radius: 0.4rem;
    background: var(--f1-white);
  }

  .card-header{
    background-color: var(--f1-dark-red);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
  }

  .btn-submit-prediction{
    background-color: var(--f1-dark-red);
    color: var(--f1-white);
    font-weight: 600;
    border-radius: 0.3rem;
    border: 2px solid var(--f1-white);
    height: 100%;
  }

  .btn-submit-prediction:hover{
    background-color: var(--f1-primary-red);
  }
}

.info-chip {
  padding: 0.4rem 1rem;
  border-radius: 0.3rem;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
}
