<app-content-container>
  <div class="register">
    <h2>Register</h2>
    <div class="card">
      <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label">Email</label>
            <div class="col-sm-8">
              <input id="email" type="email" formControlName="email" class="form-control" />
            </div>
            <div *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].touched || registerForm.controls['email'].dirty)" class="alert alert-danger">
              <div *ngIf="registerForm.controls['email'].errors?.['required']">Email is required.</div>
              <div *ngIf="registerForm.controls['email'].errors?.['email']">Invalid email format.</div>
              <div *ngIf="registerForm.controls['email'].errors?.['maxlength']">Email is too long.</div>
            </div>
          </div>

          <div class="form-group row">
            <label for="password" class="col-sm-4 col-form-label">Password</label>
            <div class="col-sm-8">
              <input id="password" type="password" formControlName="password" class="form-control" />
            </div>
            <div *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].touched || registerForm.controls['password'].dirty)" class="alert alert-danger">
              <div *ngIf="registerForm.controls['password'].errors?.['required']">Password is required.</div>
              <div *ngIf="registerForm.controls['password'].errors?.['invalidPassword']">'Password can only contain a-z, A-Z, 0-9, !&#64;#$%^&*?'.</div>
              <div *ngIf="registerForm.controls['password'].errors?.['minlength']">Password is too short (at least 6 characters).</div>
              <div *ngIf="registerForm.controls['password'].errors?.['noUppercase']">Password must have at least one uppercase letter.</div>
              <div *ngIf="registerForm.controls['password'].errors?.['noDigit']">Password must have at least one digit.</div>
              <div *ngIf="registerForm.controls['password'].errors?.['noNonAlphanumeric']">Password must have at least one non-alphanumeric character | in !&#64;#$%^&*?'.</div>
            </div>
          </div>

          <button type="submit" class="btn btn-outline-dark" [disabled]="!registerForm.valid">Register</button>
        </form>
      </div>
      <div *ngIf="serverError" class="alert alert-danger server-errors">
        {{ serverError }}
      </div>
    </div>
  </div>
</app-content-container>
